<md-card>
  <md-card-title>Add your reaction</md-card-title>
  <md-card-content>
    <form (ngSubmit)="onSubmit()" #commentForm="ngForm">
      <md-input [(ngModel)]="name" (ngModelChange)="updateName($event)"
                type="input" name="author" required placeholder="Name" maxlength="50"></md-input>

      <md-input [(ngModel)]="email" (ngModelChange)="updateEmail($event)"
                type="email" name="email" placeholder="Email" maxlength="150"></md-input>

      <md-input [(ngModel)]="comment" (ngModelChange)="updateCurrentComment($event)"
                type="input" name="comment" required  placeholder="Comment" minlength="3"
                maxlength="1000" autoComplete="off"></md-input>

      <button md-button md-raised-button color="primary" [disabled]="!commentForm.form.valid" type="submit">Send</button>
    </form>
  </md-card-content>
</md-card>
